// background colors
$background-primary-color: rgb(20, 20, 20);
$background-secondary-color: rgb(30, 30, 30);

$indicator-color: rgb(50, 50, 50);

// font colors
$font-primary-color: rgb(200, 200, 200);
$font-secondary-color: rgb(150, 150, 150);